.scene {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

.canvas-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#canvas {
  width: 100vw;
  color: #b0b0b0;
  height: 100vh;
}